Django==2.1.4
django-appconf==1.0.2
django-cors-headers==2.4.0
django-imagekit==4.0.2
django-rest-framework==0.1.0
django-summernote==0.8.11.1
djangorestframework==3.9.0
pilkit==2.0
pytz==2018.7
six==1.12.0
